extends layout

block content
  div(ng-controller="ContentController")
    h1 {{name}}
    table.table
      tr
        th Stuff
        th Other
        th tthing
      tr
        td asdf
        td ofdih
        td wepaofih
      tr
        td wepaofiht
        td asdf
        td fdas
