doctype html
html(ng-app="rclone")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js')
  body
    block content
    script(src='/javascripts/home.js')
